
@{
    ViewBag.Title = "BuscarNombre2";
}
<br />
<br />
<h3>Ingresar el nombre del medicamento a buscar</h3>
<form action="/Medicametos/BuscarNombre" method="post">
    <input type="text" name="Nombre" value="" />
    <input type="submit" name="Buscar" value="Buscar" />
</form>