<br/>

<form action="/Medicametos/Ingresa2" method="post">
   
    <h3>Ingese el tamaño del árbol</h3>
    <input type="number" name="tamano" />
    <br><br />
   
    <input type="submit" value="Agregar" />
</form>
