
@{
    ViewBag.Title = "NuevoMedicamento";
}
<br />
<br />
<h2>Agregar un nuevo medicamento:</h2>
<h2></h2>
<form action="/Medicametos/Ingresa" method="post">
    <h4>Nombre:</h4>
    <input type="text" name="Nombre" />
    <h4></h4>
    <h4>Id:</h4>
    <input type="number" name="Id" />
    <h4></h4>
    <h4>Descripción:</h4>
    <input type="text" name="Descripcion" />
    <h4></h4>
    <h4>Casa productora:</h4>
    <input type="text" name="Productora" />
    <h4></h4>
    <h4>Precio:</h4>
    <input type="number" step="any" name="Precio" />
    <h4></h4>
    <input type="submit" value="Agregar" />
</form>