
@{
    ViewBag.Title = "Pedir";
}
<br />
<br />
<h3>Realizar un pedido de: @ViewBag.Pedir.Nombre</h3>
<h3></h3>
<h3>Ingrese sus datos</h3>
<form action="/Medicametos/RealizarPedido" method="post">
    <h4>Nombre:</h4>
    <input type="text" name="Nombre" />
    <br><br />
    <h4>Dirección de envío:</h4>
    <input type="text" name="Direccion" />
    <br><br />
    <h4>Nit:</h4>
    <input type="number" name="Nit" />
    <h4>Cantidad del fármaco:</h4>
    <input type="number" min="1" max="@ViewBag.Pedir.Cantidad" name="Cantidad" />
    <br><br />
    <input type="submit" value="Ordenar" />
</form>
