@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tu salud en mis manos 2.0</h1>
    <p class="lead">En la siguiente pagina puede ver los productos disponibles y realizar pedidos.</p>
    
</div>

